.conLike {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.conLikeSmall {
  width: 28px;
  height: 28px;
}

.conLike input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
  margin: 0;
}

.checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.outline,
.filled {
  fill: var(--red);
  position: absolute;
}

.filled {
  animation: kfrFilled 0.5s;
  display: none;
}

.celebrate {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: kfrCelebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.poly {
  stroke: var(--red);
  fill: var(--red);
}

/* Checked state */
.conLike input:checked ~ .checkmark .filled {
  display: block;
}

.conLike input:checked ~ .checkmark .celebrate {
  display: block;
}

.conLike input:checked ~ .checkmark .outline {
  display: none;
}

@keyframes kfrFilled {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes kfrCelebrate {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
